{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Visbook Settings plugin for Craft CMS
 *
 * VisbookSettingsWidget Widget Body
 *
 * @author    Liquid
 * @copyright Copyright (c) 2021 Liquid
 * @link      https://liquid.cat
 * @package   VisbookSettings
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@liquidstudio/visbooksettings/assetbundles/visbooksettingswidgetwidget/dist', true) ~ '/img/VisbookSettingsWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
